SKIP_PREFLIGHT_CHECK=true
GENERATE_SOURCEMAP=false
PORT=
CODE_EDITOR=idea

# [OPTIONAL] 默认留空，如需 CI 部署到 CDN 请写上详细的 CDN 地址
PUBLIC_URL=

REACT_APP_NAME=APP-NAME
REACT_APP_COOKIE_PREFIX=test-github-actions-release-pages
REACT_APP_PAGE_CNAME=APP-PAGE-CNAME
REACT_APP_API_BASE_URL=https://localhost/api
REACT_APP_CDN_URL=https://cdn.xxx.com
REACT_APP_UPLOAD_URL=https://up.qbox.me
#
REACT_APP_ENABLE_AXIOS_CATCH_ERROR_MSG=false

# boolean | 'always'
REACT_APP_ENABLE_DARK_THEME=false

REACT_APP_SENTRY_DSN=
REACT_APP_SENTRY_WHITELIST_URLS=
REACT_APP_SENTRY_PROJECT=

# CDN
CI_CDN_ACCESS_KEY=xxx
CI_CDN_SECRET_KEY=xxx
CI_CDN_BUCKET=cdn-xxx

# [OPTIONAL] for ci-sync-dotenv-to-github-secrets.js
CI_GITHUB_TOKEN=xxx

REACT_APP_DEBUG_BAR_PASSWORD_HASH=xxxx

